html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  font-family: 'Niconne', cursive;
  flex-direction: column;
}
@import url(https://fonts.googleapis.com/css?family=Niconne);

header {
  font-family: 'Niconne', cursive;
  color: limegreen;
  height: 150px;
  font-weight: 900;
  font-size: 50px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  max-width: 1200px;
  width: 100%;
  flex-grow: 1;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

nav {
  margin-top: 20px;
}

.left-menu {
  width: 180px;
}

.right-menu .column {
  width: 180px;
  vertical-align: top;
}

.left-menu .group {
  min-height: 35px;
  padding: 5px;
  display: block;
  position: relative;
}

.left-menu .group.small {
  min-height: 25px;
}

.left-menu .group.big {
  min-height: 70px;
}

.left-menu .group label {
  position: relative;
  top: 6px;
}

.left-menu .group.small label {
  top: 2px;
}

.left-menu .group.big label {
  display: block;
  margin-bottom: 4px;
}

.left-menu .group input {
  width: 120px;
  padding: 7px;
  border-radius: 10px;
  border: 2px solid #11EE11;
  padding-right: 30px;
  padding-left: 15px;
  margin-left: auto;
  float: right;
  font-family: 'Niconne', cursive;
  box-sizing: border-box;
}

.left-menu .group input[type="range"] {
  width: 170px;
  padding: 0;
  margin: 5px 0;
}

.left-menu .group input:focus,
.left-menu .group button:focus
{
  outline: 0;
}

.left-menu .group:after {
  font-weight: 500;
  color: #008000;/**#8e8e8e;**/
  position: absolute;
  width: 20px;
  top: 11px;
  right: 15px;
}

.left-menu .group.mass::after {
  content: "кг";
}

.left-menu .group.power::after {
    content: "H";
}

.left-menu .group.dist::after {
  content: "м";
}

.left-menu .group input[type="checkbox"] {
  position: relative;
  margin-right: 45px;
  max-width: 0;
  max-height: 0;
}

.left-menu .group input[type="checkbox"] + label {
  user-select: none;
}

.left-menu .group input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 20px;
  border-radius: 100px;
  border: 2px solid #c1c1c1; 
  margin-right: 20px;
  position: relative;
  top: -3px;
}

.left-menu .group input[type="checkbox"]::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #9ACD32;
  border-radius: 100px;
  position: absolute;
  top: 1px;
  left: 4px;
  transition: all .2s;
}

.left-menu .group input[type="checkbox"]:checked::after {
  background: #5ac159;
  left: 24px;
}


.left-menu .group button {
    font-family: 'Niconne', cursive;
    text-transform: uppercase;
    width: 170px;
    padding: 15px 0;
    border-radius: 15px;
    margin:0 auto;
    display: block;
    height: 50px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 100px 0 #FFF,1px 76px 10px #000;
    color: #FFF;
    background:  green;
    border-right: 2px solid #FFF;
    border-left: 2px solid #FFF;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s;
}

.left-menu .group button:hover {
  text-shadow: 0 50px 0 #FFF, 1px 51px 20px #FFF;
  width: 170px;
  padding: 15px 0;
  border-radius: 15px;
  background: #7CFC00;
}

.left-menu .group button:active {
    background: #7CFC00;
    transform: scale(0.950);
}

.left-menu .group_time input {
    font-family: 'Niconne', cursive;
    font-size: 25px;
    background-color: limegreen;
    font-weight: 900;
    position: absolute;
    top: 20px;
    right: 15px;
    border: none;
}
.right-menu .delimiter {
  font-weight: 700;
}

.right-menu .group {
  padding: 5px;
  display: block;
}

.right-menu .group:after {
  font-weight: 500;
  color: #8e8e8e;
  position: relative;
}

#canvas {
  padding: 20px;
  flex-grow: 1; 
}

#timeScale {
  text-align: center;
  width: 170px;
  margin: 0;
  position: relative;
  top: -8px;
  height: 8px;
}

#inputType {
  width: 170px;
  height: 35px;
  padding: 4px 15px;
  border-radius: 100px;
  border: 2px solid #9ACD32;
  font-family: 'Niconne', cursive;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#inputType + .arrow {
  position: absolute;
  top: 21px;
  right: 20px;
  border-top: 6px solid #9ACD32;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#inputScale {
  width: 100px;
}

@media (max-height: 820px)
{
  header {
    height: 60px;
    font-size: 40px;
  }

  .right-menu .column {
    display: inline-block;
  }

  .left-menu .group {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .left-menu .group:after {
    top: 9px;
  }
  #inputType + .arrow {
    top: 19px;
  }
}